.composition {
    position: relative;
    &__photo {
        width: 40%;
        border-radius: 2px;
        position: absolute;
        z-index: 10;
        transition: all .2s;
        outline-offset: 2rem;
        
        &--p1 {
            left: 22%;
            top: -3rem;
        }

        &--p2 {
            left: 49%;
            top: -1rem;
        }

        &--p3 {
            left: 24%;
            top: 9rem;
        }

        &--p4 {
            left: 51%;
            top: 13rem;
        }

        &:hover {
            outline: 1.5rem solid $color-primary;
            transform: scale(1.4) translateY(-.5rem);
            z-index: 20;
        }
    }

    &:hover &__photo:not(:hover) {
        transform: scale(.9);
    }
}