.feature-box {
    background-color: rgba($color-white, .8);
    font-size: 1.5rem;
    text-align: center;
    border-radius: 3px;
    box-shadow: 0 1.5rem 4rem rgba($color-black, .15);
    transition: all .35s;
    

    &__header {
        cursor: pointer;
        background-color: whitesmoke;
        padding: 1rem 2rem;
        height: 16rem;

        &:hover {
            background-color: #ddd
        }
    }

    &__content {
        border-left: 1px solid whitesmoke;
        border-right: 1px solid whitesmoke;
        max-height: 0;
        overflow: hidden;
        transition: all 0.2s ease-in;
    }

    &__text {
        padding: 3rem;
    }

    &__icon {
        font-size: 6rem;
        margin-bottom: .5rem;
        display: inline-block;
        background-image: linear-gradient(to right, $color-primary-light, $color-primary-dark);
        -webkit-background-clip: text;
        color: transparent;
    }

    &__image {
        max-width:80%; 
        height: auto; 
        padding-bottom: 3rem;
    }
}