.section-sd-cards {
    background-color: $color-grey-light-1;
    padding: 25rem 0 15rem 0;
    margin-top: -10rem;
}

.section-specs {
    background-color: $color-grey-light-1;
    padding: 5rem 0 15rem 0;
    margin-top: -10rem;
}